
body {
    text-align: center;
}
#result {
    background-color:antiquewhite; 
    width: 230px;
    margin-top: -5px;
    position: relative;
    outline-color: black;
    outline-style:auto;
    outline-offset: 5px;
}
#background {
    background-color:antiquewhite; 
    width: 230px;
    line-height: 52px;
    outline-color: black;
    outline-style: auto;
    outline-offset: 5px;
    position: relative;
}
button {
    width: 50px;
    height: 50px;
}
#zero {
    width: 105px;
}